<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832653007724-ljcr3gdi0blo3pormus6orrogscgh7ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832653007724-ljcr3gdi0blo3pormus6orrogscgh7ik</string>
	<key>API_KEY</key>
	<string>AIzaSyCOZbMDxyRxD1Eqn8xluIZ88KM1k1o1fso</string>
	<key>GCM_SENDER_ID</key>
	<string>832653007724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tifli.KinKeep</string>
	<key>PROJECT_ID</key>
	<string>chronos-2a3c7</string>
	<key>STORAGE_BUCKET</key>
	<string>chronos-2a3c7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832653007724:ios:05c1508700dfc21dfb3149</string>
</dict>
</plist>